<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root">Broken :(</main>

<script type="text/javascript">
  window.staticImages = {
    headerImage: "<%= asset_url "bigpanda.svg" %>"
  }
</script>
