body {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: 200;
  background: ;
}

.header {
  background: ##e6e6e6;
  color: black;
  border-bottom: 1px solid ##e4e4e4;

}

.link-item {
  display: block;
  padding: 25px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.header-logo {
  height: 75px;
  width: 75px;
}



.header-list {
  display: flex;
}
