body {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  background: white;
}

.header {
  background: #fbfbfb;
  color: black;
  border-bottom: 1px solid #e4e4e4;

}

.link-item {
  display: block;
  padding: 30px 25px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}

.header-logo img {
  display: block;
   padding: 10px 20px;
   height: 50px;
   width: 50px;
   padding-left: 30px;

}

a:hover {
  border-bottom: 2px solid black;
}


.header-list {
  display: flex;
}
