body {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  background: white;
}

.header {
  background: #fbfbfb;
  color: black;
  border-bottom: 1px solid #e4e4e4;

}

.link-item {
  display: block;
  padding: 30px 25px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}

.header-logo img {
  display: block;
   padding: 10px 20px;
   height: 50px;
   width: 50px;
   padding-left: 30px;

}

.link-item a:hover {
  border-bottom: 2px solid black;
}


.header-list {
  display: flex;
}

.navigation-div {
  display: block;
  padding-top: 0px;
  padding-left: 20px;

}

.loc-button {
  display: flex;
  height: 150px;
  width: 35%;
  border-radius: 5px;
  text-align: right;
  align-items: center;
  margin: 20px;
  border: solid 1px #e4e4e4;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
}

.photo {
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/869E10A625.jpg);
  background-size: cover;
  height: 100%;
  width: 52%;
  margin-right: 25px;
}

.loc-button h1{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .2px;
  color: #484848;
  padding: 10px 10px;

}

.loc-link {
  width: 20%;
}

.background-pic {
  width: 100%;
  height: 1200px;
  background-image: url(https://static.pexels.com/photos/248771/pexels-photo-248771.jpeg);
}

.left {
  display: flex;
  align-items: center;
}
