.spot-item-grid {
  display: block;
  padding-top: 0px;
  /*padding-left: 10px;*/

}
.spot-item-grid ul {

}

.spot-index-item {
  padding: 20px;
}

.spot_index_item:hover {
  background: linear-gradient(to left, #bfbec2, transparent, transparent, #bfbec2);
}

.spot-index-container {
}

.map-container {
  /*z-index: 1;*/
  width: 100vw !important;
  height: 300px;
  /*height: 89.5%;*/
  /*right: 0px;*/
  /*top: 85px;*/
}

.spot-index-image {
  border-radius: 3px;
  display: block;
}

.spot-index-type span {
  color: rgb(155, 49, 67);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 5px;
  letter-spacing: .2px;
  height: 15px;
  width: 10px;
  padding-top: 5px;
}



.dot {
  font-size: 12px;
  font-weight: 700px;
  height: 15px;
  text-align: center;
  padding-left: 5px;
}

.spot-index-type {
  display: block;
  padding: 5px 0;
}

.spot-index-name {
  font-size: 19px;
  color: #484848;
  font-weight: 700;
  letter-spacing: .2px;
}

.spot-index-rating  span {
  font-size: 15px;
  letter-spacing: .2px;
  color: #484848;
  font-weight: 300;
}

.spot-index-rating {
  margin-top: 5px;
}

/*.freeze {
  position: fixed;
  width: 100%;
  z-index: 2;
}*/

.spot-item-grid ul a:hover {
  color: green;
}

@media screen and (min-width: 700px) {
  .map-container {
    position: fixed !important;
    width: 50vw !important;
    height: 89vh;
    box-sizing: border-box;
    float: right !important;
    margin-top: 82px;
    right: 0;
  }

  .spot-index-item {
    width: 50vw;
    /*padding: 50px;*/
    box-sizing: border-box;
  }

  .spot-item-grid {
    padding-left: 0;

  }

  .card-parent {
    padding-top: 82px;
  }
}

@media screen and (min-width: 1200px) {
  .map-container {
    width: 40vw !important;
    height: 700px;
    box-sizing: border-box;
    float: right !important;
  }

  .card-parent {
    width: 60vw;
    box-sizing: border-box;
  }

  .spot-index-item {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    float: left;
  }
}
