.spot-show {
  grid-row: 1;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.spot-grid {
display: grid;
grid-template-columns: 1fr 93vw;
/*grid-template-rows: 75vh 2rem 1fr;*/
/*grid-column-gap: 4rem;*/
}

.spot-show img {
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;

}

.show-details img{
  width: 15%;
  /*height: 19px;*/
  margin-right: 15px;
  color: #484848;
}

.show-heading {
  grid-row: 3;
  grid-column: 2/3;
  padding-right: 15px;
  padding-bottom: 40px;
  font-family: Work Sans;
}

.show-heading span {
  color: rgb(78, 65, 38);
  font-size: 12px;
  letter-spacing: .2px;
  font-weight: 700;
  text-transform: uppercase;
}

.show-heading h1 {
  font-weight: 700;
  font-size: 36px;
  color: #484848;
  line-height: 40px;
  letter-spacing: -.6px;
  padding-top: 8px;
}

.show-details {
  padding: 18px 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;

}

.show-details span {
  text-transform: lowercase;
  font-weight: 300;
  font-size: 16px;
  color: #484848;
  letter-spacing: .2px;
  margin-right: 26px;
}

.show-description h3 {
  color: #484848;
  font-size: 17px;
  letter-spacing: .2px;
  font-weight: 700;
}
.show-description p {
  color: #484848;
  font-size: 17px;
  letter-spacing: .2px;
  font-weight: 300;
  padding-right: 10px;
}

.show-amentities li {
  margin-right: 15px;
  font-size: 15px !important;
  letter-spacing: .2px !important;
  text-transform: capitalize !important;
  color: #484848 !important;
  font-weight: 300 !important;
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

.show-amenities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.show-icons {
  width: 15%;
}

.show-div-icons {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 15px;
}
@media screen and (min-width: 700px) {
    .show-div-icons {

      width: 25%;

    }
    .show-amenit {
      width: 33%;
      margin-bottom: 30px;
    }
  }
@media screen and (min-width: 1000px) {
    .spot-grid {
      display: grid;
      grid-template-columns: 1fr 93vw;
      grid-template-rows: 75vh 2rem 1fr;
    /* grid-column-gap: 4rem; */
    }
    .show-div-icons {

      width: 25%;

    }
    .show-amenit {
      width: 33%;
      margin-bottom: 30px;
    }
  }
